<%- include('includes/header') %>
    <%- include('includes/flash') %>

    <div class="container">
        <div class="card m-4 p-2 mx-auto col-lg-4">
            <div class="card-body">
                <h5 class="card-title">Login</h5>
                <hr />
                <form action="/login" method="POST">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" name="username" id="username"
                            aria-describedby="userHelp" autofocus required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" id="password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <br />
                <p>
                    Don't have an account ? <a href="/register">Register</a>
                </p>
            </div>
        </div>
    </div>

    <%- include('includes/footer') %>